.profile-header-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.image-and-name {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.setting-icon {

}
