<div class="contact-list">
   <div *ngIf="activeTab == 'search'" class="search-input-container">
     <input type="text" [(ngModel)]="query" placeholder="Search with name" style="height: 40px; width: 90%; border-radius: 20px;border: none; padding: 0 20px; margin: 15px 0; ">
   </div>
   <ul>
     <app-contact-item *ngFor="let contact of contacts | startsWith : query; let i = index"
                       [isFirstChild]="i==0"
                       [@flyInOut]="contacts[0]"
                       (click)="onSelected(contact)"
                       [contact]="contact"
                       [selectedContact]="selectedContact"
                       [defaultSelectedContact]="defaultSelectedContact"
                       >
    </app-contact-item>
   </ul>
</div>
