<div class="add-form-input-container">
  <div style="flex: 3; background-color: #e6e7e7; padding: 10px 0; display: flex; align-items: center">
    <div class="" style="flex: 1; display: flex; align-items: center; justify-content: center">
      <i class="material-icons" style="font-size: 30px; color: #939495;">attach_file</i>
    </div>
    <div class="" style="flex: 12;">
      <input type="text" name="message" [(ngModel)]="message" placeholder="Type your message" style="height: 40px; width: 100%; border-radius: 5px;border: none; padding: 0 20px;">
    </div>
    <div class="" style="flex: 2; display: flex; align-items: center; justify-content: center">
      <button class="send-button" type="button" name="button" (click)="sendMessage()">Send</button>
      <div class="send-icon-container">
        <i class="material-icons send-icon" (click)="sendMessage()">send</i>
      </div>
    </div>
  </div>
</div>
