/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
input {
  border: 1px solid #dfe2e2 !important;
}
input:focus {
  border: 1px solid  #939495 !important;
  outline-offset: 0px !important;
  outline: none !important;
}
